<p id="notice"><%= notice %></p>

    <div class="row">
        <h1> Search For Topic</h1>
        <%= form_tag "/result" do %>
              <%= text_field_tag "search" %> 
              <%= submit_tag "search" %>
        <% end %>
    </div>
<div class="clear"></div>    
<div class="row">
<% if @contents.present? %>
<%= render :partial => 'search_result',locals:{contents:@contents} %>
<% end %>
</div>
<br>
 

